
<div class="box-cria-bpmn" style=" height: 100vh;">
    <div #canvas style="width: 70%; height: 100%; border: 1px solid #ccc;"></div>
      <div  style="width: 30%; height: 100%; border: 1px solid #ccc;">
        <app-painel-propriedades [dados]="dados" [modeler]="modeler" [element]="element"></app-painel-propriedades>
    </div>
    <button (click)="exportDiagram()">Export Diagram</button>
    <div #properties style="width: 30%; height: 100%; border: 1px solid #ccc;background: rgb(240, 240, 240);display: block;">

</div>


