.box-pdf-viewer {
  box-sizing: content-box;
}

.pesquisa {
  width: 220px;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 8px;
  z-index: 1000;
}

.pesquisa-resultados {
  height: 100vh;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #3e3e3e;
  color: white;
  font-size: 14px;
  padding: 10px;
}

li{
  cursor: pointer;
}

li:hover{
  color: goldenrod;
}

input{
  width: 100%;
}
