<app-titulo *ngIf="viewTitulo" (eventEmit)="adicionar()" [destacar]="destacarTitulo" [titulo]="titulo" [icon]="viewAdd ? 'add_box' : undefined"></app-titulo>
<table class="table">
  <thead *ngIf="viewHead">
    <tr>
      <th style="width: 30px;">Ativo</th>
      <th>Descrição</th>
      <th *ngIf="viewAcoes"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itens">
      <td style="width: 30px;">
        <mat-checkbox [color]="'primary'" (click)="removeIten(item)" [(ngModel)]="item.ativo"></mat-checkbox>
      </td>
      <td>{{item.descricao}}</td>
      <td *ngIf="viewAcoes" class="td-icons">
        <span class="material-symbols-outlined">
          delete
        </span>
        <span (click)="editarIten(item)" class="material-symbols-outlined">
          edit_square
        </span>
      </td>
    </tr>
  </tbody>
</table>
