.dropdown button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.dropdown-menu {
  width: 100%;
  padding-left: 10px;
}

label{
  padding: 8px 0;
}


