<button (click)="novaEtapa()">Nova etapa</button>
<div class="box-fluxo-container">
  <div class="box-fluxo-item" cdkDropListGroup>
    <label>Tarefas</label>
    <div cdkDropList [cdkDropListData]="listaEtapas()" style="width: 100%;min-width: 500px;"
      (cdkDropListDropped)="drop($event)">
      <div (click)="selecionarEtapa(etapa)" class="box-etapas-container" *ngFor="let etapa of listaEtapas();" cdkDrag
        [cdkDragData]="etapa">
        <div class="box-etapas-item-indice">
          <p>{{etapa.posicao}}</p>
        </div>
        <div class="box-etapas-item" style="width: 100%;">
          <p>{{etapa.tipo.descricao}}{{etapa.evento && etapa.evento.ativaCondicional ? ' com condicional' : ''}}</p>
          <span>{{listaDetalhes(etapa)}}</span>
        </div>
        <div *ngIf="etapa.evento?.condicional?.ativo" class="box-etapas-item">
          <span class="material-symbols-outlined" style="font-size: 34px;">
            all_match
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box-fluxo-item">
    <label>Eventos</label>
    <div (click)="selecionarEtapa(evento)" class="box-etapas-container" *ngFor="let evento of listaEventos();">
      <div class="box-etapas-item-indice" style="background: #cf758e;">
        <span class="material-symbols-outlined" style="font-size: 34px;">
          all_match
        </span>
      </div>
      <div class="box-etapas-item" style="width: 100%;">
        <p>{{evento.tipo.descricao}}{{evento.evento && evento.evento.ativaCondicional ? ' com condicional' : ''}}</p>
        <span>{{listaDetalhes(evento)}}</span>
      </div>
      <div *ngIf="evento.evento?.condicional?.ativo" class="box-etapas-item">
        <span class="material-symbols-outlined" style="font-size: 34px;">
          all_match
        </span>
      </div>
    </div>
  </div>
  <div class="box-fluxo-item">
    <app-formulario-nova-etapa [etapa]="etapaSelect" [etapas]="etapas"></app-formulario-nova-etapa>
  </div>
</div>
