.acoes-assinatura{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.material-symbols-outlined{    
    text-align: left;
}

.acao-icone{
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: #00ff8b;
}

.assinatura{
    height: 300px;
    border: solid gray thin;
    border-radius: 5px;
}

canvas{
    border: solid salmon;
}