.head-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f2f4;
  color: #616161;
  border-radius: 1px;
  margin-bottom: 15px;
  border: solid #ebebeb thin;
}

.destaque{
  background: #8b9898 !important;
  color: white;
}

.head-list p{
  margin: 0 10px!important;
  font-weight: 200;
  font-size: 15px!important;
}

.head-list .material-symbols-outlined{
  cursor: pointer;
}

.head-list .material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
