.head-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
  color: #616161;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: solid #e7e7e7 thin;
}

.destaque{
  background: #49938d!important;
  color: white;
}

.head-list p{
  margin: 0 10px!important;
  font-weight: 200;
  font-size: 15px!important;
}

.head-list .material-symbols-outlined{
  cursor: pointer;
}

.head-list .material-symbols-outlined:hover{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
