.box-painel-propriedades{
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-x: auto;
  max-height: 94vh;
}

.box-painel-propriedades-item{
  margin-top: 8px;
}

.box-painel-propriedades-item label {
  margin: 0;
  font-size: 14px;
}

.box-painel-propriedades-titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f1f2f4;
  font-size: 32px;
}

.box-painel-propriedades-titulo span{
  font-size: 40px;
  color: #74777f;
}

.box-painel-propriedades-titulo p{
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0;
}
