<div class="box-menu-bar">
    <ol>
        <li>
            <span class="material-symbols-outlined">
                team_dashboard
            </span>
            Meu painel
        </li>
        <li>
            <span class="material-symbols-outlined">
                person
            </span>
            Usuários
        </li>
        <li>
            <span class="material-symbols-outlined">
                groups
            </span>
            Grupos
        </li>
        <li>
            <span class="material-symbols-outlined">
                file_copy
            </span>
            Documentos
        </li>
        <li>
            <span class="material-symbols-outlined">
                lock
            </span>
            Assinaturas
        </li>
        <li>
            <span class="material-symbols-outlined">
                list
            </span>
            Fomulários
        </li>
        <li>
            <span class="material-symbols-outlined">
                family_history
            </span>
            Fluxos
        </li>
        <li>
            <span class="material-symbols-outlined">
                splitscreen
            </span>
            Solicitações
        </li>
        <li>
            <span class="material-symbols-outlined">
                manage_accounts
            </span>
            Minha conta
        </li>
        <li>
            <span class="material-symbols-outlined">
                logout
            </span>
            Sair
        </li>
    </ol>

</div>