<div class="box-validacao" style="display: flex;">
  <div class="box-validacao-documentos">
    <div *ngIf="documentos && documentos.length" class="box-arquivo" style="width: 100%;">
      <app-visualizar-pdf *ngIf="arquivo && arquivo.fileName" [height]="'85vh'"
        [url]="arquivo.fileName"></app-visualizar-pdf>
    </div>
    <div class="box-acoes">
      <span (click)="voltar()" class="material-symbols-outlined">
        arrow_back
      </span>
      <button (click)="assinar(false)" class="bt-hover">Assinar todos</button>
      <button (click)="assinar(true)" class="bt-hover">Assinar</button>
      <span (click)="avancar()" class="material-symbols-outlined">
        arrow_forward
      </span>
    </div>
  </div>
  <div class="box-etapas">
    <p-timeline [value]="files" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-etapa>
        <span [class.fundo-verde]="etapa.id == arquivo.id && etapa.status == 'PENDENTE'" (click)="selecionarTarefa(etapa)" class="custom-marker shadow-2" [style.backgroundColor]="etapa.color">
          <i [ngClass]="etapa.icon"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-etapa>
        <p style="margin:0; color: #4d4d4d;font-size: 13px;line-height: 1;">
          {{etapa.nome}}
        </p>
        <span
          style="color: #a19263;    font-family: monospace;font-size: 12px;font: 13px Roboto, sans-serif!important;">06-08-2024</span>
      </ng-template>
      <ng-template pTemplate="opposite" let-etapa>
        <span *ngIf="etapa.id == arquivo.id" class="material-symbols-outlined">
          arrow_forward
        </span>
      </ng-template>
    </p-timeline>
  </div>
</div>
