.box-form-evento {
  min-width: 400px;
  padding: 27px;
}

h1 {
  padding: 0;
  border-bottom: solid thin #d6d6d6;
  width: 100%;
  margin: 0 0 20px 0;
  color: #b7b7b7;
  font-size: 20px;
  line-height: 2;
}
