body {
    font-family: sans-serif!important;
    overflow: hidden!important;
}

.pdf-container {
    width: 100%;
    border: none;
}

.box-assinatura {
    display: flex;
}

.box-assinatura-detalhes-item {
  margin: 10px;
}

.box-assinatura-detalhes-assinante {
    display: flex;
    flex-direction: column;
    border: solid rgb(218, 218, 218) thin;
    border-radius: 5px;
    padding: 15px;
    background: #46a2bd;
}

.box-assinatura-detalhes-assinante-item {
    padding: 5px 0;
    color: white;
    display: flex;
    justify-content: space-between;
}

.box-assinatura-detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-assinatura-assinar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-assinatura-detalhes-assinante-item label{
    font-weight: 300;
    text-align: left;
    font-size: 12px;
}

.box-assinatura-detalhes-assinante-item span{
  font-weight: 100;
  font-size: 16px;
  margin-left: 5px;
}

.box-assinatura-item-assinado{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.box-assinatura-item-assinado span{
  font-size: 100px;
}

p{
  font-weight: 500;
}

.box-assinatura-item-assinado .material-symbols-outlined {
  color: #41d287;
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}

.box-assinatura-item-documento{
  display: flex;
  background: #1369e7;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.box-assinatura-item-documento:hover{
  background: #75315c;
}



