<div class="box-assinar">
  <div class="box-documento">
    <ngx-extended-pdf-viewer 
    [src]="documentoSelecionado.fileName" 
    [height]="'auto'" [textLayer]="true"
    [pageViewMode]="'infinite-scroll'"
    [textLayer]="showWidgets"
    (pagesLoaded)="onPagesLoaded($event)"
    [showHandToolButton]="showWidgets"
    [showToolbar]="showWidgets"
    [sidebarVisible]="showWidgets"
    [zoom]="'auto'"
    [filenameForDownload]="documentoSelecionado.nome">
    </ngx-extended-pdf-viewer>
  </div>
  <div class="box-etapa-assinar">
    <mat-stepper [animationDuration]="0">
      <mat-step state="phone">
        <div class="etapa-mover">
          <p class="nome-documento">Licenciamento</p>
          <p>Revisar e assinar</p>
          <button (click)="assinar()" mat-button matStepperNext>Assinar</button>
        </div>
      </mat-step>
      <mat-step state="chat">
        <div class="etapa-mover">
          <p class="nome-documento">Oficio</p>
          <p>Revisar e assinar</p>

          <button mat-button matStepperNext>Assinar</button>
        </div>
      </mat-step>
      <mat-step state="chat">
        <div class="etapa-mover">
          <p class="nome-documento">Contrato de locação</p>
          <p>Revisar e assinar</p>

          <button mat-button matStepperNext>Assinar</button>
        </div>
      </mat-step>
      <mat-step state="chat">
        <div>
          <p class="nome-documento">Contrado de venda</p>
          <p>Revisar e assinar</p>

          <button mat-button matStepperNext>Assinar</button>
        </div>
      </mat-step>
      <mat-step state="chat">
        <div class="etapa-mover">
          <p class="nome-documento">Contrato de responsabilidade</p>
          <p>Revisar e assinar</p>

          <button mat-button matStepperNext>Assinar</button>
        </div>
      </mat-step>
      <mat-step state="chat">
        <div class="etapa-mover">
          <p class="nome-documento">Termo de aceite</p>
          <p>Revisar e assinar</p>

          <button mat-button matStepperNext>Assinar</button>
        </div>
      </mat-step>
      <mat-step state="ckeck" [color]="'red'">
        <p>Todos documentos foram assinados com sucesso</p>
        <button mat-button matStepperNext>Concluir e fechar</button>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>lock</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="ckeck">
        <mat-icon [color]="red" fontIcon="flag"></mat-icon>
      </ng-template>
    </mat-stepper>
  </div>
</div>