.box-assinar{
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.box-etapa-assinar{ 
}

.nome-documento{
  font-weight: 700;
  font-size: 22px;
  color: #137aff;
  margin: 5px 0;
}

@media (width: 600px) {
    button{
      width: 100%;
    }
}